.nav_style{
    border-bottom: 1px solid gray;
    background-color: #0D1117;
}


body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 280px;
    background-color: #0D1117;
    ;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 1px solid gray;
  }
  
  .sidebar a {
    display: block;
    color: rgb(241, 226, 226);
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #021313;
    color: rgb(205, 223, 223);
  }
  
  .sidebar a:hover:not(.active) {
    background-color: rgb(25, 224, 238);
    color: rgb(119, 128, 128);
  }
  
  div.content {
    margin-left: 280px;
    /* padding: 1px 6px; */
    
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }