.icon {
	margin: 5px;
	padding: 5px;
	background-color: #0D1117;
	border-radius: 50%;
	color: rgb(155, 155, 155);
	font-size: 25px;
	align-items: center;
	justify-content: center;
	display: flex;
    border: 1px solid gray;
}
.icon:hover {
	background-color: rgb(250, 25, 25);
}
.footer-menu {
	list-style: none;
	margin-top: 13px;
	font-size: 18px;
	cursor: pointer;
}
.footer-menu:hover {
	color: red;
}

.footer-container {
	background-color: #0D1117;
	color: rgba(218, 242, 209, 0.755);
	margin-top: 80px;
	border-top: 1px solid gray;
}
.link_style{
	padding: 10px;
	margin: 20px;
}
.navbar{
align-items: center;
}
.nav-link {
	font-size: 13px;
	text-align: center;
	justify-content: center;
	align-items: center;
}